[submodule "third_party/brosearch"]
	path = third_party/brosearch
	url = https://github.com/wlejon/brosearch.git
[submodule "third_party/bropty"]
	path = third_party/bropty
	url = https://github.com/wlejon/bropty.git
